DeMacho/contracts/UsuarioService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://demacho.com.br/services/UsuarioService/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioService" targetNamespace="http://demacho.com.br/services/UsuarioService/v1">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://demacho.com.br/services/UsuarioService/v1" xmlns:pref="http://www.example.org/DeMacho">
    	<xsd:import schemaLocation="../schemas/DeMacho.xsd" namespace="http://www.example.org/DeMacho"></xsd:import>
    	
    	<xsd:element name="filtro">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="nome" type="xsd:string" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	
    	<xsd:element name="usuarioResponse" type="pref:Usuario"/>
    	
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="buscarRequest">
    <wsdl:part name="usuario" element="tns:usuario"/>
  </wsdl:message>
  <wsdl:message name="buscarResponse">
    <wsdl:part name="usuario" element="tns:usuarioResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="UsuarioService">
    <wsdl:operation name="buscar">
      <wsdl:input message="tns:buscarRequest"/>
      <wsdl:output message="tns:buscarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="UsuarioServiceSOAP" type="tns:UsuarioService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://demacho.com.br/services/UsuarioService/v1/buscar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port binding="tns:UsuarioServiceSOAP" name="UsuarioServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
